@font-face
{
    font-family: "Hubballi";
    src: url("./Hubballi-Regular.ttf");
}
@font-face
{
    font-family: "Cinzel Decorative";
    src: url("./CinzelDecorative-Regular.ttf");
}

body,html 
{
    background-color: #e0fbfc; font-family: "Hubballi", serif;
    font-size: 24px; color: #293241; padding: 25px 25px;
}

h1, h2 
{
    font-family: "Cinzel Decorative"; color: #3d5a80;
}

h3
{
    color: #3d5a80;
}

.info
{
    border-color: #3d5a80; border-radius: 10px;
    border: solid 4px; background-color: #c3dadb; padding: 25px 25px;
}


/* colors:  
light blue: #e0fbfc
dark blue: #3d5a80
orange: #ee6c4d
black/blue: #293241
*/